
/* --- メイン画面のスタイル --- */


body {
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
    background-color: #ffffff; /* 背景色を白に変更 */
    margin: 0;

}

.page-container {
    display: flex; /* この指定で中身が横並びになる */
    flex-grow: 1; /* ヘッダーとフッター以外の高さを埋める */
    background-color: #ffffff;
}

/* メインコンテンツエリアのスタイル */
.main-content {
    flex-grow: 1; /* サイドバー以外の残りの幅をすべて使用する */
    padding: 30px; /* コンテンツエリアの内側に余白を作る */
    overflow-y: auto; /* コンテンツが長くなった場合にスクロールさせる */
    background-color: #ffffff;
}


.container {
    max-width: 960px; /* この値を変更して幅を調整 */
}